@import '~bootstrap/dist/css/bootstrap.min.css';
/* body{
  background-image: url('https://previews.123rf.com/images/lisaalisaill/lisaalisaill1902/lisaalisaill190200197/124960698-coffee-concept-on-wooden-background-white-coffee-cup-top-view-with-doodle-illustration-about-coffee-.jpg');
  font-family: monospace;
} */
p {
  font-family: Lato;
  color: goldenrod;
  
}
.shadow-sm {
    box-shadow: 0 0rem .5rem rgba(0,0,0,.075)!important;
}

nav a{
  color: white;
}
.card-title, .card-text{
  color: darkcyan;
}
.card-text{
  color:goldenrod
}
#searchButton {
  border-radius: 20px;
    border-color: white;
    color: navajowhite;
    height: 27px;
    font-size: x-small;
}
#searchInput{
  max-height:27px;
  border-radius:20px;
  border:2px;
}